@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Raleway:wght@300&display=swap");

html,
body {
  margin: 0px;
  height: 100%;
  background: white;
  position: relative;
  line-height: 1.6;
  font-family: "Raleway", sans-serif; /* ændrer i skriftypen for HELE bodyen */
}

/* SCROLL 
@media (min-height: 30em) {
  main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

@media (min-height: 30em) {
  section {
    height: 100vh;
  }
}

section {
  scroll-snap-align: center;
} */

/* CSS til forsiden (Section 1) */
.front-page {
  position: center;
  width: 100%;
  height: 100vh;
  background: rgb(82, 157, 220);
  overflow: hidden;
}

#main-title {
  text-align: center;
  top: 5%;
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 6.5vw;
  line-height: 200px;
  color: lightblue;
  margin: 1000;
}

.front-page h3 {
  position: relative;
  font-size: 2vw;
  font-weight: 100;
  text-align: center;
  line-height: 60px;
  margin: 500;
  color: lightblue;
}

.front-page h4 {
  position: relative;
  font-size: 1.5vw;
  text-align: center;
  color: white;
  top: 10%;
}

/* CSS til forsidens bølger ligger i waves.css  */

/* scroll down pil til vejvisning */
.scroll-down.arrow span {
  position: absolute;
  display: inline-block;
  height: 35px;
  width: 2px;
  left: calc(50% - 1px);
  animation: animateArrow 1.25s infinite linear;
}

@keyframes animateArrow {
  0%,
  40%,
  100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
.scroll-down.arrow span {
  top: 77%;
  animation-delay: 0s;
  bottom: 15%;
}

.scroll-down.arrow span::before,
.scroll-down.arrow span::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(59, 59, 59);
  border-radius: 3px;
}
.scroll-down.arrow span::before {
  transform-origin: bottom;
  transform: rotate(-45deg);
}
.scroll-down.arrow span::after {
  transform-origin: bottom;
  margin-left: -1px;
  transform: rotate(45deg);
}

/* CSS til første visualisering (vandstigninger) (Section 2) */

/* year overskrifter */
.water-rise {
  position: center;
  width: 100%;
  height: 100vh;
  background: white;
  overflow: hidden;
}

#water-rise-title {
  text-align: center;
  top: 5%;
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 4vw;
  color: rgb(82, 157, 220);
  margin: 1000;
}

#water-rise-under-title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 2vw;
  color: rgb(82, 157, 220);
  margin: 1000;
  font-weight: lighter;
}

#inputButton {
  transition-duration: 0.4s;
  color: white;
  text-align: center;
  position: relative;
}

#submitButton {
  transition-duration: 0.4s;
  color: white;
  background: #7f7fff;
  border-radius: 20px;
  box-shadow: #7f7fff 0 10px 20px -10px;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  outline: 0 solid transparent;
  padding: 8px 18px;
  border: 0;
}

.container {
  display: flex;
  padding: 0px 55px 0px 200px; /* padding top, right, bottom, left */
  width: 100%;
  height: 100vh;
  border: 10px black;
}

.col1 {
  height: 407.26px;
  width: fit-content;
  overflow: hidden;
  /* background: paleturquoise; */
}

.col2 {
  max-height: 407.26px;
  width: 30vw;
  text-align: center;
  border: 10px black;
  background: rgb(228, 238, 253);
}

.waterlvl_information {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  font-size: 1.1vw;
  color: black;
  margin: 20px;
}

/* CSS til anden visualisering (dyr i fare) (Section 3) */
#animalTitle {
  text-align: center;
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 4vw;
  line-height: 40px;
  color: rgb(82, 157, 220);
}

.container2 {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(white, rgb(82, 157, 220));
  padding: 40px 0px 0px 0px;
  /* text-align: center;
  top: 10%;
  font-family: "Raleway", sans-serif;
  position: relative;
  font-size: 3vw;
  line-height: 200px;
  color: orange;
  margin: 1000; */
}

/* ændrer skriftypen på y aksen */
.yAxis {
  font-size: medium;
}
.svg2 {
  padding-left: 70px;
}

.consequences {
  height: 400;
  width: 70vw;
  text-align: center;
}

.consequences2 {
  height: 550px;
  width: 25vw;
  height: 540px;
  width: 28vw;
  text-align: center;
  background: rgb(228, 238, 253);
  padding: 100, 100, 0, 0;
}

#animalButton {
  transition-duration: 0.4s;
  color: white;
  background: #7f7fff;
  border-radius: 20px;
  box-shadow: #7f7fff 0 10px 20px -10px;
  cursor: pointer;
  font-size: 1vw;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  outline: 0 solid transparent;
  padding: 0px 18px 0px 200px;
  border: 0;
  padding-left: 40%;
}

/* CSS til ikke-så-sjove fakta (Sektion 4) */
.not-fun-facts {
  position: center;
  width: 100%;
  background: rgb(82, 157, 220);
}

.not-fun-facts h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 4vw;
  line-height: 100px;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.not-fun-facts h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.2vw;
  line-height: 50px;
  color: white;
}

/* "Kort" der "flipper" rundt, når man hover over dem, og viser flere fakta */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 6000px;
  margin: auto;
  width: 50%;
  padding: 0px;
  border-radius: 30px;
  overflow: hidden;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front .title {
  color: #5d8ac2;
  line-height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  font-family: "Times New Roman", Times, serif;
  border-radius: 30px;
  line-height: 40px;
  font-size: 1.2vw;
}

/* CSS til alle referencer, kilder, links */
a {
  color: #7f7fff;
  line-height: 40px;
  text-align: left;
  font-size: 0.7vw;
}

/* Vores afsluttende footer, med gruppenavn og årstal */
footer {
  background-color: #5d8ac2;
  color: lightblue;
  text-align: center;
}
